<div>
    <div>
        Enter New Transaction Password: <input type="password" [formControl]="password">
        <div [hidden]="password.valid || password.pristine">
            <span>Pawword is required</span>
        </div>
    </div>
    <div>
        Enter again Transaction Password: <input type="password" [formControl]="again_pass">
        <div [hidden]="again_pass.valid || again_pass.pristine">
            <span>Pawword is required</span>
        </div>
    </div>
    <div>
        <input type="submit" value="Update" (click)="handleUpdate()" [disabled]="again_pass.invalid || password.invalid">
    </div>
    <div *ngIf="modifiedCount">
        <p>Password Update Successfully</p>
    </div>
</div>