<div>
    <form>  
      <table>
      <tr>
        <td>
          Enter New Login Password:<input type="password" [formControl]="password"  class="form-group">
          <div [hidden]="password.valid || password.pristine">
              <span>Password is required</span>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          Enter again Login Password:<input type="password" [formControl]="again_pass"  class="form-group">
          <div [hidden]="again_pass.valid || again_pass.pristine">
              <span>Password is required</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Update" (click)="handleUpdate()" [disabled]="again_pass.invalid || password.invalid" class="btn btn-info">
        </td>
      </tr>
      </table>
  </form>
    <div *ngIf="modifiedCount">
      <p>Password Update Successfully</p>
    </div>
  </div>


