
<div class ="container-fluid">
  <h1 align ="center">About Us</h1>
  
  <div class="paragraphs">
    <div class="row">
      <div class="row">
        <div class="content-heading">
        <img src="./assets/bank.webp" class="mx-auto d-block">
        <p class="text-right">Rio Bank is a new generation private sector bank with 200 branches (as on  10th April 2022) across India. 
          It is a scheduled commercial bank regulated by the Reserve Bank of India. It is professionally managed and
          governed. Rio Bank has contemporary technology and infrastructure including state of the art internet 
          banking for personal as well as business banking customers.Rio Bank’s business segments are Retail,
          micro-SME, SME,  mid-Corporate, Agriculture, Commodities,Government, Public Sector, Indian Banks, 
          Co-operative  Banks and Non Banking Finance Companies (NBFC). Rio Bank has approximately 100000 customers.
          The Bank’s network of state-of-the-art, customer friendly branches are situated across Andhra Pradesh,
          Bihar, Chhattisgarh, Daman, Delhi/ NCR, Goa, Gujarat, Haryana, Karnataka, Kerala, Madhya Pradesh,
          Maharashtra, Odisha, Punjab, Rajasthan, Silvassa, Tamil Nadu, Telangana, Uttar Pradesh, Uttarakhand 
          and West Bengal. Rio Bank has deep roots in India since its inception in 1975s.Its promoter and promoter
          group the Aga Khan project and Also Milinda gates Foundations work with them Fund for Economic Development (AKFED)
          & Platinum Jubilee Investments Ltd. holds below 15% stake. AKFED  is an international development enterprise. It is 
          dedicated to promoting entrepreneurship and building  economically sound companies.  </p>
      </div>
      </div>
    </div>
  </div>
   
   <footer>
     <h4>  Thank you <br/>Welcome to Our Rio Bank</h4>
     <h4>  Toll-Free No.:-181600998899 <br/>Customer Care 24x7:- 0621-22334455</h4>
     <h5>  Toll-Free No.:-181600996548 <br/>Customer Care 24x7:- 0621-22314459</h5>
     <p>© Rio Bank India<br>
     <a  href="Banking site:riobankind.in">@ Devloped & Mainteined By:- Rigved  Team</a></p>
   </footer>
