<body>
	
<main class="wrap">
	<div class="hide-menu-container">
  <section class="investors">
		<div class="single-page-wraper">
			<div class="text-center"  >
				<h3>Our Investors</h3>
			</div>
			<div>
				<h2 >We’re grateful to be backed by some of the most trusted & professional institutional asset managers and development finance institutions, globally.</h2>
			</div >
            <div class="row">
            <div class="col-md-3">
			<div class="card" style="width: 18rem;" >
        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
                <img class="card-img-top" src="./assets/elever equity.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Elevar Equity is a thesis based investor focused on generating outstanding investment returns by delivering essential services to disconnected communities underserved by global networks. Our entrepreneurs provide massively scalable essential services, tailored explicitly to the needs of their customers to build lasting companies and foster economic development.</p>
                </div>
            </div> 
            </div>	
            <div class="col-md-3" >
                <div class="card" style="width: 18rem;" >
                    <img class="card-img-top" src="./assets/samma capital.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Saama Capital II, is an India focused venture capital fund and is the independent successor fund to SVB India Capital Partners, I ("SICP"). SICP has been successfully investing in Indian companies since 2006 following a collaborative partner driven approach with diversification across stage and sector. Saama Capital invests in exceptional entrepreneurs and ideas to build great companies. </p>
                    </div>
                </div> 
                </div>	
                <div class="col-md-3 ">
                    <div class="card" style="width: 18rem;" >
                        <img class="card-img-top" src="./assets/lok capital.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Lok Capital aims at impact investing to promote inclusive growth by supporting the development of social enterprises to deliver basic services to serve the lower income segment in a scalable, affordable and commercially viable manner.Clarity in thought and efficacy in communication are habits that we strive to inculcate in all our relationships from day 1.</p>
                        </div>
                    </div> 
                   </div>
                <div class="col-md-3 ">
                    <div class="card" style="width: 18rem;" >
                        <img class="card-img-top" src="./assets/web bridge capital.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">WestBridge Capital leverages both its capital and experience to help companies succeed. A typical investment ranges from $10 million to $80 million, often resulting in a substantial minority equity ownership, second only to the founder in many casesClarity in thought and efficacy in communication are habits that we strive to inculcate in all our relationships from day 1..</p>
                        </div>
                    </div> 
                  </div> 
            </div>
	      </div>
	  </section>
	</div>
</main>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
  
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
  })
</script> -->

</body>
